/* IMPORTS */
@import "./color-variables.css";

/* GLOBAL RESET */
* {
    margin:  0;
    padding: 0;
    box-sizing: 0;
}

/* SET TYPOGRAPHY */
h1, h2, h3, p {
    font-weight: bold;
}

h1, h2, h3 {
    font-family: Papyrus, fantasy;
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* HEADER STRUCTURE */
#header-container {
    background-color: var(--VERYRED);
}

/* MAIN STRUCTURE */
#main-container {
    display: flex;
    flex-direction: row;
    gap: 1.2em;

    padding: 20px;
}

.big-three-container {
    padding: 12px;
}

#registrar-corner, #academic-calendars {
    border: 5px solid var(--VERYGREEN);
    border-style: dotted;
}

#registrar-corner {
    flex: 2;
}

#announcements {
    flex: 6;
    
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#academic-calendars {
    flex: 2;
}


/* ANNOUNCEMENTS */
.announcement-card {
    display: flex;
    flex-direction: row;
    gap: 2px;
}


/* FOOTER STRUCTURE */